$primary: #74c2ff;
$danger: #dc3545;
$warning: #f8a306;
$success: #2ecc71;
$maintenance: #1747f5;
$link-color: #111;
$border-radius: 50rem;

$highlight: #9dd1ff;
$highlight-white: #e7faec;

$dark-font-color: #c9d1d9;
$dark-font-color2: #020b05;
$dark-font-color3: #6e7681;
$dark-bg: #0d1117;
$dark-bg2: #010409;
$dark-border-color: #21262d;
$dark-header-bg: #161b22;
$dark-hover-bg: #1c2128;

$easing-in: cubic-bezier(0.54, 0.78, 0.55, 0.97);
$easing-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);

$dropdown-border-radius: 0.5rem;

$primary-gradient: linear-gradient(135deg, #58b9ff 0%, #74c2ff 60%, #86e6a9);
$primary-gradient-active: linear-gradient(135deg, #58b9ff 0%, #74c2ff 45%, #86e6a9);
